.speeddial-circle-demo {
    display: flex !important;
    justify-content: center !important;
    height: 35px !important;
}

.p-speeddial-action {
    width: 2.5rem;
    height: 2.5rem;
}

.p-speeddial-button.p-button.p-button-icon-only {
    width: 2.5rem;
    height: 2.5rem;
}