<p-toast></p-toast>

<div class="container-fluid">
    <div class="my-4 d-flex align-items-center justify-content-center">
        <h1 class="mr-3">Favorite car category</h1>
        <p-button label="addCar" (click)='addNode()' class="p-button-sm"></p-button>
    </div>
    <p-treeTable [value]="files" dataKey="name" *ngIf="dataTableReloader">
        <ng-template pTemplate="header">
            <tr>
                <th>Car</th>
                <th>Price</th>
                <th>Country</th>
                <th class="text-center">Opersion</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
            <tr [ttRow]="rowNode" [ttRow]="rowNode" [ttSelectableRow]="rowNode">
                <td>
                    <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                    {{rowData.nameCar}}
                </td>
                <td>${{rowData.price}}</td>
                <td>{{rowData.country}}</td>
                <td class="position-relative">
                    <div style="height: 60px;" class="speeddial-circle-demo">
                        <p-speedDial (onShow)="showOperation(rowData , rowNode)" [model]="items" radius="80" type="circle" buttonClassName="p-button-warning"></p-speedDial>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-treeTable>
</div>